<div id="content">
	<div class="feature">
		<p>
			<h2>MelbJS is on Lanyrd</h2>
			<p><strong>We have recently moved over to <a href="http://lanyrd.com/series/melbjs/">Lanyrd</a> to allow you to view past meetups, slides, videos and most importantly register for upcoming meetups. Head over to the <a href="http://lanyrd.com/series/melbjs/">MelbJS Lanryd</a> page and register for the next meetup.</strong></p>
		<p></p>
	</div>
	<%- partial('article', articles) %>
</div><!-- end content -->

<div class="clearer">