<div id="content">
	<div class="feature">
		<p>
			<h2>Web Directions Code</h2>
			<h3>May 23 + 24, Melbourne</h3>
			<h3>http://code12melb.webdirections.org/</h3>
			<h3>Just $799 for MelbJS members with the code MELBJS</h3>
		</p>

		<p>Day one: HTML5 as a developer tool, with sessions on Browser Device APIs, HTML5 Audio and Video, touch events for mobile and tablet devices, offline web apps, HTML5 messaging, the History API, HTML5 technologies for game and interactive application development and more.</p>

		<p>Day two: an in-depth, JavaScript focussed day, with sessions on Node.js, debugging, performance, client-side templating languages like Mustache, Dust.js, Handlebars.js, Underscore.js, event libraries and more.</p>

		<p>If it's well supported in browsers and devices, and empowers you to do awesome stuff, then we'll be covering it.</p>
	</div>
	<%- partial('article', articles) %>
</div><!-- end content -->

<div id="side-panel">
	<h3>Next Meetup</h3>
	<br />

	<p><strong>When:</strong> <%- meetupDate %> (starts at 6pm)</p>
	<p><strong>Where:</strong></p>
	<p>Aconex <br /> 696 Bourke Street (corner Spencer &amp; Bourke)</p>

	<iframe width="240" height="260" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Aconex,+Bourke+Street,+Melbourne,+Victoria&amp;aq=0&amp;oq=aconex+&amp;sll=-25.335448,135.745076&amp;sspn=53.310395,97.822266&amp;ie=UTF8&amp;hq=Aconex,&amp;hnear=Bourke+St,+Melbourne+Victoria&amp;t=m&amp;ll=-37.816938,144.95357&amp;spn=0.006295,0.015129&amp;output=embed"></iframe>

	<br /><br />

	<p><strong>Register:</strong> <br /> Please register on <a href="http://melbjs.eventbrite.com">http://melbjs.eventbrite.com</a> so pizzas can be properly catered for!</p>
</div><!-- end side-panel -->
<div class="clearer">