<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
	<div id="header">
		<div class="bounding">
			<a id="logo" href="/"><img src="/img/logo.png" width="184" height="48" alt="Melb JS" /></a>
			<div id="main-menu">
				<ul>
					<li><a class="active" href="/"><span>Home</span></a></li>
					<%
						// add some more menu items here.
					%>
				</ul>
			</div>
		</div>
	</div><!-- end header -->
	<div class="bounding">
		<%- body %>
	</div>
  </body>
</html>