!!!
html(lang="en")
	head
		title= title
		meta(name='viewport', content='width=device-width')
		script(src='/js/prefixfree.min.js')
		link(rel='stylesheet', href='/css/reset.css')
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/css/welcome.css')
	body
		article
			section.title
				img(src='/img/logo-large.png', alt='Melb JS')

			each session in event.sessions
				include includes/session

			section.sponsor.aconex
				h4 Venue and Beer Sponsor
				img(src='/img/aconex-logo.gif', alt='Aconex')

			section.sponsor.thoughtworks
				h4 Pizza Sponsor
				img(src='/img/thoughtworks-logo.gif', alt='Thoughtworks')

			section.webdirections
				img(src='/img/webdirectionscode.jpg')

			section.title
				img(src='/img/logo-large.png', alt='Melb JS')

			section.sponsor.thoughtworks
				h4 Pizza Sponsor
				img(src='/img/thoughtworks-logo.gif', alt='Thoughtworks')

			section.sponsor.aconex
				h4 Venue and Beer Sponsor
				img(src='/img/aconex-logo.gif', alt='Aconex')

			each session in nextEvent.sessions
				include includes/session

			section.title
				img(src='/img/logo-large.png', alt='Melb JS')

		script(src='/js/bespoke.min.js')
		script(src='/js/welcome.js')