*
	box-sizing border-box

body
	overflow hidden

section
	width 700px
	height 400px
	position absolute
	top 50%
	left 50%
	margin-left (-700/2)px
	margin-top (-400/2)px

	&.title img
		width 800*0.8px
		height 220*0.8px
		position absolute
		top 50%
		left 50%
		margin-left -(800*0.8/2)px
		margin-top -(220*0.8/2)px

	&.sponsor
		text-align center

		&.aconex
			padding-top 80px

			img
				width 480px
				margin-top 24px

		&.thoughtworks
			padding-top 80px

			img
				width 740px
				position relative
				left -14px

		&.campjs
			img
				position relative
				left -100px
				top -100px
			.sexy-link
				font-size: 3em
				margin-top: 20%

		h4
			font-size 24px
			position relative
			z-index 1

	&.presentations

		ul
			li
				padding-top 90px
				width 680px

				h3
					font-size 52px
					line-height 52px
					padding-top 14px

				h4
					font-size 24px
					line-height 32px

					a
						color #606060	

				img
					width 192px
					height 192px
					border-radius 18px
					margin-right 42px

.bespoke-parent
	perspective 600
	position absolute
	top 0
	right 0
	left 0
	bottom 0

section
	transform none
	opacity 0

	&.bespoke-slide
		transition all 1s ease
		opacity 0
	
	&.bespoke-active
		opacity 1

	&.bespoke-inactive
		opacity 0

	&.bespoke-before
		transform translateX(-700px) rotateY(-90deg) translateX(-700px)

	&.bespoke-after
		transform translateX(700px) rotateY(90deg) translateX(700px)

